body {
    background: #576574;
    box-sizing: border-box;
    
}

@media screen and (max-width: 1024px) {
    div.pagina {   
        flex-direction: row;
    }
}

@media screen and (max-width: 700px) {
    div.pagina {   
        flex-direction: column;
    }
    img.icons {
       width: 32px;
       height: 32px;
    }
    nav {
        display: none;
    }
}

/* CSS DE LA WEB : */


  div.pagina {
    display: flex;
    font-weight: bold;
    box-shadow: 10px 10px;
    }

/* CSS DEL ASIDE 1: */

div.aside-1 {
    display: flex;  
    position: relative;
    flex-wrap: wrap;
    background: #222f3e;
    order: 1;
    align-items: stretch;   
    text-align: center;
    flex-basis: 22%;
    padding-top: 25px
    }
img.email, img.facebook, img.twitter, img.whatsapp {
    max-width: 50px;
}

img.foto_perfil {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px;
    border-right: 10px;
    }
    
h1.nombre_apellido {
    color: white;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto' sans-serif;
}   

.titulo_cv {
    color: white;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto' sans-serif;
}   

.datos {
    color: white;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Open Sans';
}
.quien_soy {
    font-family: 'Roboto Slab', serif;
    color: darkgoldenrod;
}


/* CSS DEL MAIN: */

div.main {
    display: flex;
    flex-wrap: wrap;
    background: whitesmoke;
    order: 2;
    flex-basis: 48%;
    flex-grow: 2;
    margin-left: auto;
    margin-right: auto;
    align-items: left;
    text-align: left;

}

li {
    font-family: 'Cormorant Garamond', serif;
    padding-right: 10px;
}


/* CSS DEL ASIDE 2: */

div.aside-2 {
    display: box;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: left;
    text-align: left;
    background: rgba(228, 225, 225, 0.747);
    order: 3;
    flex-basis: 30%;
    flex-grow: 1;
}
h2 {
    color: #222f3e;
    text-transform: uppercase;
    text-decoration: underline; 
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: -5px;
    font-family: 'Roboto Slab', serif;
}

h4 {
    color: #222f3e;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 15px;
    margin-right: auto;
    font-family: 'Open Sans', serif;
}

/* CSS DEL HEADER Y FOOTER: */

nav {
  height: 15%;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 900;
}

nav ul {   
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  word-break: break-all;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #576574;  
}

nav li a {
  color: white;
  padding: 1px;
  font-family: 'Roboto', sans-serif;
}

nav li a:hover {
  background: #222f3e;
  color: white;
}

.footer {
    height: 15%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    text-align: center;
    font-weight: 900;
    font-family: 'Roboto' sans-serif;li
}
